<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite - 1" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="com.pjyotik.listeners.ListenersImplementation"/>
        <listener class-name="com.pjyotik.listeners.TestRetryAnalyzerListener"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="com.pjyotik.pages.qdpm.TestCases"/>
            <class name="com.pjyotik.pages.qdpm.UserLoginTests"/>
        </classes>
    </test>
</suite>